
h1 {
            color:#113946;
        }

        h2 {
            color:#113946;
        }
        
         body {
    background-color:#113946;
text-align: center;
}

         p{
color:#113946;
}

body {
    font-family:Times, Times New Roman, serif;
}
ol {color:#113946 ;

}

